# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output files
questions.json
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code / IDEs
.vscode/
.idea/
